* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

.input-search-container {
    width: 300px;
}

input {
  border-radius: 4px;
  line-height: 1.5em;
  font-size: 16px;
  padding: 0.5em 1em;
  width: 100%;
}
