.lists {
  display: flex;
  flex-direction: column;
}
.item:hover {
  background-color: #eee;
  cursor: pointer;
}

.item {
  padding: 1em 2em;
}

.search-result {
  width: 100%;
  position: relative;
  border-radius: 4px;
  min-height: 100px;
  border: solid 1px #ddd;
  margin-top: 4px;
}

.no-result {
  font-style: italic;
  color: #333;
  text-align: center;
}
